[Unit]
Description=Option Analyzer
After=network.target

[Service]
Type=simple
Environment="PATH=/home/pi/.local/bin:/usr/local/sbin:/usr/local/bin:/usr/sbin:/usr/bin:/sbin:/bin"
WorkingDirectory=/home/pi/proj/option-analyzer
ExecStart=/home/pi/proj/option-analyzer/.venv/bin/python -m option_analyzer
EnvironmentFile=-/home/pi/proj/option-analyzer/.env
Restart=on-failure
RestartSec=5

[Install]
WantedBy=default.target
